{% extends "base.html" %}
{% block content %}

    <form action="/signup" method="post">
        <h1>User Sign-Up</h1>
        <label>Username:
            <input id="username" type="text" value='{{username}}' name="username">
        </label>
        <p class="error">{{name_error}}</p>
        <label>Password:
            <input id="password" type="password" value='{{password}}' name="password">
        </label>
        <p class="error">{{password_error}}</p>
        <label>Verify password:
            <input id="verify" type="password" value='{{verify}}' name="verify">
        </label>
        <p class="error">{{verify_error}}</p>
        <label>Email(optional):
            <input id="email" type="text" value='{{email}}' name="email">
        </label>
        <p class="error">{{email_error}}</p>
        <input type="submit">
    </form>

{% endblock %}